@media screen and (max-width: 413px) {
  .contact-us { 
    display: none;
   }
  .contact-us-tablet { 
    display: none;
   }
  .contact-us-tablet-1 { 
    display: none;
   }
  .contact-us2 { 
    display: none;
   }
  .contact-us-2 { 
    display: none;
   }
}
@media screen and (min-width: 414px) and (max-width: 555px) {
  .contact-us { 
    display: none;
   }
  .contact-us-tablet { 
    display: none;
   }
  .contact-us-tablet-1 { 
    display: none;
   }
  .contact-us2 { 
    display: none;
   }
  .contact-us-1 { 
    display: none;
   }
}
@media screen and (min-width: 556px) and (max-width: 1136px) {
  .contact-us { 
    display: none;
   }
  .contact-us-tablet { 
    display: none;
   }
  .contact-us-tablet-1 { 
    display: none;
   }
  .contact-us-2 { 
    display: none;
   }
  .contact-us-1 { 
    display: none;
   }
}
@media screen and (min-width: 1137px) and (max-width: 1278px) {
  .contact-us { 
    display: none;
   }
  .contact-us-tablet { 
    display: none;
   }
  .contact-us2 { 
    display: none;
   }
  .contact-us-2 { 
    display: none;
   }
  .contact-us-1 { 
    display: none;
   }
}
@media screen and (min-width: 1279px) and (max-width: 1919px) {
  .contact-us { 
    display: none;
   }
  .contact-us-tablet-1 { 
    display: none;
   }
  .contact-us2 { 
    display: none;
   }
  .contact-us-2 { 
    display: none;
   }
  .contact-us-1 { 
    display: none;
   }
}
@media screen and (min-width: 1920px) {
  .contact-us-tablet { 
    display: none;
   }
  .contact-us-tablet-1 { 
    display: none;
   }
  .contact-us2 { 
    display: none;
   }
  .contact-us-2 { 
    display: none;
   }
  .contact-us-1 { 
    display: none;
   }
}
/* screen - contact-us */

.border-class-1 {
  border: 1px solid rgba(242,231,254,1.0);
}
.contact-us {
  background-color: var(--licorice);
  height: 1539px;
  position: relative;
  width: 1920px;
}
.contact-us .cityscan-2020-C61RwL {
  background-color: transparent;
  height: 91px;
  left: 63px;
  position: absolute;
  top: 1437px;
  width: 515px;
}
.contact-us .cityscan-2020-VMr6Om {
  background-color: transparent;
  height: 91px;
  left: 61px;
  position: absolute;
  top: 1437px;
  width: 515px;
}
.contact-us .cityscan-C61RwL {
  background-color: transparent;
  height: 91px;
  left: 66px;
  position: absolute;
  top: 16px;
  width: 515px;
}
.contact-us .cityscan-VMr6Om {
  background-color: transparent;
  height: 91px;
  left: 64px;
  position: absolute;
  top: 16px;
  width: 270px;
}
.contact-us .container-JvHRlp {
  background-color: var(--ship-gray);
  border-radius: 4px;
  height: 39px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 185px;
}
.contact-us .container-M34txU {
  background-color: var(--wisteria);
  border-radius: 4px;
  height: 39px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 127px;
}
.contact-us .container-bqLsCL {
  background-color: var(--ship-gray);
  border-radius: 4px;
  height: 39px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 74px;
}
.contact-us .container-oAHA1P {
  background-color: var(--ship-gray);
  border-radius: 4px;
  height: 39px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 107px;
}
.contact-us .dark-butto-y-6-states-C61RwL {
  background-color: transparent;
  height: 39px;
  left: 1535px;
  position: absolute;
  top: 40px;
  width: 185px;
}
.contact-us .dark-butto-y-6-states-QxM5SU {
  background-color: transparent;
  height: 39px;
  left: 1448px;
  position: absolute;
  top: 40px;
  width: 74px;
}
.contact-us .dark-butto-y-6-states-VMr6Om {
  background-color: transparent;
  height: 39px;
  left: 1327px;
  position: absolute;
  top: 40px;
  width: 107px;
}
.contact-us .dark-butto-y-6-states-mzXdH9 {
  background-color: transparent;
  height: 39px;
  left: 1734px;
  position: absolute;
  top: 40px;
  width: 127px;
}
.contact-us .oval-59n62O {
  background-color: transparent;
  height: 52px;
  left: 0px;
  position: absolute;
  top: -6px;
  width: 48px;
}
.contact-us .oval-7kX7kP {
  background-color: transparent;
  height: 52px;
  left: 0px;
  position: absolute;
  top: -6px;
  width: 48px;
}
.contact-us .oval-EPswcS {
  background-color: transparent;
  height: 52px;
  left: 0px;
  position: absolute;
  top: -6px;
  width: 48px;
}
.contact-us .oval-vPkEXd {
  background-color: transparent;
  height: 52px;
  left: 0px;
  position: absolute;
  top: -7px;
  width: 48px;
}
.contact-us .pressed-GyEpv3 {
  background-color: transparent;
  height: 39px;
  left: 13px;
  position: absolute;
  top: 0px;
  width: 48px;
}
.contact-us .pressed-azSDlV {
  background-color: transparent;
  height: 39px;
  left: 40px;
  position: absolute;
  top: 0px;
  width: 48px;
}
.contact-us .pressed-bHsSdK {
  background-color: transparent;
  height: 39px;
  left: 30px;
  position: absolute;
  top: 0px;
  width: 48px;
}
.contact-us .pressed-y4vMFQ {
  background-color: transparent;
  height: 39px;
  left: 68px;
  position: absolute;
  top: 0px;
  width: 48px;
}
.contact-us .primary-KWgPu2 {
  background-color: var(--ship-gray);
  border-radius: 4px;
  height: 39px;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  width: 185px;
}
.contact-us .primary-SfkFMd {
  background-color: var(--wisteria);
  border-radius: 4px;
  height: 39px;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  width: 127px;
}
.contact-us .primary-Ytz1o3 {
  background-color: var(--ship-gray);
  border-radius: 4px;
  height: 39px;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  width: 107px;
}
.contact-us .primary-xGRjBs {
  background-color: var(--ship-gray);
  border-radius: 4px;
  height: 39px;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  width: 74px;
}
.contact-us .rectangle-1-C61RwL {
  background-color: transparent;
  height: 137px;
  left: -9px;
  position: absolute;
  top: -6px;
  width: 1938px;
}
.contact-us .rectangle-59n62O {
  background-color: var(--white-4);
  height: 39px;
  left: -13px;
  position: absolute;
  top: 0px;
  width: 75px;
}
.contact-us .rectangle-67-C61RwL {
  background-color: transparent;
  height: 137px;
  left: -9px;
  position: absolute;
  top: 1406px;
  width: 1938px;
}
.contact-us .rectangle-78-C61RwL {
  background-color: transparent;
  border-radius: 4px;
  height: 1169px;
  left: 101px;
  position: absolute;
  top: 188px;
  width: 1718px;
}
.contact-us .rectangle-7kX7kP {
  background-color: var(--white-4);
  height: 39px;
  left: -13px;
  position: absolute;
  top: 0px;
  width: 75px;
}
.contact-us .rectangle-EPswcS {
  background-color: var(--white-4);
  height: 39px;
  left: -13px;
  position: absolute;
  top: 0px;
  width: 75px;
}
.contact-us .rectangle-vPkEXd {
  background-color: var(--white-4);
  height: 39px;
  left: -13px;
  position: absolute;
  top: 0px;
  width: 75px;
}
.contact-us .states-BhcHqg {
  background-color: var(--wisteria);
  border-radius: 4px;
  height: 39px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 127px;
}
.contact-us .states-KWgPu2 {
  background-color: var(--ship-gray);
  border-radius: 4px;
  height: 39px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 185px;
}
.contact-us .states-Mfhn70 {
  background-color: var(--ship-gray);
  border-radius: 4px;
  height: 39px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 74px;
}
.contact-us .states-SfkFMd {
  background-color: var(--wisteria);
  border-radius: 4px;
  height: 39px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 127px;
}
.contact-us .states-Ytz1o3 {
  background-color: var(--ship-gray);
  border-radius: 4px;
  height: 39px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 107px;
}
.contact-us .states-dar-ry-content-GyEpv3 {
  background-color: var(--ship-gray);
  border-radius: 4px;
  height: 39px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 74px;
}
.contact-us .states-dar-ry-content-azSDlV {
  background-color: var(--wisteria);
  border-radius: 4px;
  height: 39px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 127px;
}
.contact-us .states-dar-ry-content-bHsSdK {
  background-color: var(--ship-gray);
  border-radius: 4px;
  height: 39px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 107px;
}
.contact-us .states-dar-ry-content-y4vMFQ {
  background-color: var(--ship-gray);
  border-radius: 4px;
  height: 39px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 185px;
}
.contact-us .states-xGRjBs {
  background-color: var(--ship-gray);
  border-radius: 4px;
  height: 39px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 74px;
}
.contact-us .states-xOki46 {
  background-color: var(--ship-gray);
  border-radius: 4px;
  height: 39px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 185px;
}
.contact-us .states-xxU2vv {
  background-color: var(--ship-gray);
  border-radius: 4px;
  height: 39px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 107px;
}
.contact-us .x-label-JvHRlp {
  background-color: transparent;
  color: var(--suva-gray);
  height: auto;
  left: 16px;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: auto;
}
.contact-us .x-label-M34txU {
  background-color: transparent;
  color: rgba(0,0,0,1.0);
  height: auto;
  left: 16px;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: auto;
}
.contact-us .x-label-bqLsCL {
  background-color: transparent;
  color: var(--suva-gray);
  height: auto;
  left: 16px;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: auto;
}
.contact-us .x-label-oAHA1P {
  background-color: transparent;
  color: var(--suva-gray);
  height: auto;
  left: 16px;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: auto;
}
.font-class-1 {
  color: var(--white);
  font-family: 'Roboto Mono', Helvetica, Arial, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.40px;
  line-height: 40px;
}
.font-class-10 {
  color: var(--white);
  font-family: 'Roboto Mono', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.13px;
}
.font-class-2 {
  font-family: 'Roboto Mono', Helvetica, Arial, serif;
  font-style: normal;
  font-weight: 400;
}
.font-class-3 {
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 1.25px;
  line-height: 16px;
}
.font-class-4 {
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 1.07px;
}
.font-class-5 {
  color: var(--white);
  font-family: 'Roboto Mono', Helvetica, Arial, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.24px;
}
.font-class-6 {
  color: var(--white);
  font-family: 'Roboto Mono', Helvetica, Arial, serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.26px;
}
.font-class-7 {
  color: var(--white);
  font-family: 'Roboto Mono', Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.28px;
  line-height: 40px;
}
.font-class-8 {
  color: var(--white);
  font-family: 'Roboto Mono', Helvetica, Arial, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.16px;
}
.font-class-9 {
  color: var(--suva-gray);
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-size: 9px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.80px;
}
:root {
  --gray: rgba(127,127,127,1.0);
  --lavender: rgba(187,134,252,1.0);
  --licorice: rgba(18,18,18,1.0);
  --ship-gray: rgba(63,63,63,1.0);
  --suva-gray: rgba(136,136,136,1.0);
  --white: rgba(255,255,255,1.0);
  --white-2: rgba(255,255,255,0.38);
  --white-3: rgba(255,255,255,0.122);
  --white-4: rgba(255,255,255,0.102);
  --wisteria: rgba(202,162,252,1.0);
}
/* screen - contact-us-1 */

.border-class-1 {
  border: 1px solid rgba(242,231,254,1.0);
}
.contact-us-1 {
  background-color: var(--licorice);
  height: 925px;
  position: relative;
  width: 360px;
}
.contact-us-1 .cityscan-2020-C61RwL {
  background-color: transparent;
  height: 65px;
  left: 29px;
  position: absolute;
  top: 846px;
  width: 298px;
}
.contact-us-1 .cityscan-2020-VMr6Om {
  background-color: transparent;
  height: 64px;
  left: 29px;
  position: absolute;
  top: 846px;
  width: 303px;
}
.contact-us-1 .cityscan-CWcvtF {
  background-color: transparent;
  height: 91px;
  left: -10px;
  position: absolute;
  top: -7px;
  width: 270px;
}
.contact-us-1 .cityscan-RrQxtm {
  background-color: transparent;
  height: 91px;
  left: -8px;
  position: absolute;
  top: -7px;
  width: 268px;
}
.contact-us-1 .dark-theme-ader-label-WY7yIV {
  background-color: var(--white-2);
  height: 1px;
  left: 29px;
  position: absolute;
  top: 83px;
  width: 268px;
}
.contact-us-1 .dark-theme-ader-label-rKkfBc {
  background-color: transparent;
  height: 62px;
  left: 28px;
  position: absolute;
  top: 22px;
  width: 268px;
}
.contact-us-1 .divider-IruFPl {
  background-color: var(--white-2);
  height: 1px;
  left: 0px;
  opacity: 0.6;
  position: absolute;
  top: 61px;
  width: 268px;
}
.contact-us-1 .group-154-C61RwL {
  background-color: transparent;
  height: 71px;
  left: 12px;
  position: absolute;
  top: 24px;
  width: 250px;
}
.contact-us-1 .group-172-C61RwL {
  background-color: transparent;
  height: 565px;
  left: 18px;
  position: absolute;
  top: 184px;
  width: 325px;
}
.contact-us-1 .group-2-BVzMxL {
  background-color: transparent;
  height: 565px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 325px;
}
.contact-us-1 .iconnaviga-onmenu24px-C61RwL {
  background-color: transparent;
  height: 30px;
  left: 279px;
  position: absolute;
  top: 41px;
  width: 46px;
}
.contact-us-1 .label-left-IruFPl {
  background-color: transparent;
  color: var(--white);
  font-family: 'Roboto Mono', Helvetica, Arial, serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  letter-spacing: -0.20px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 10px;
  white-space: nowrap;
  width: auto;
}
.contact-us-1 .path-6bsBdN {
  background-color: transparent;
  height: 6px;
  left: -0px;
  position: absolute;
  top: -0px;
  width: 47px;
}
.contact-us-1 .path-OeDIsT {
  background-color: transparent;
  height: 6px;
  left: -0px;
  position: absolute;
  top: 25px;
  width: 47px;
}
.contact-us-1 .path-RGoxKH {
  background-color: transparent;
  height: 6px;
  left: -0px;
  position: absolute;
  top: 12px;
  width: 47px;
}
.contact-us-1 .rectangle-1-C61RwL {
  background-color: transparent;
  height: 129px;
  left: -9px;
  position: absolute;
  top: -6px;
  width: 378px;
}
.contact-us-1 .rectangle-67-C61RwL {
  background-color: transparent;
  height: 118px;
  left: -9px;
  position: absolute;
  top: 811px;
  width: 378px;
}
.contact-us-1 .states-dar-ce-content-rKkfBc {
  background-color: var(--white-3);
  border-radius: 4px;
  height: 565px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 325px;
}
.contact-us-1 .x-color-d0ekLC {
  background-color: transparent;
  height: 31px;
  left: -0px;
  position: absolute;
  top: -0px;
  width: 47px;
}
.font-class-1 {
  color: var(--white);
  font-family: 'Roboto Mono', Helvetica, Arial, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.40px;
  line-height: 40px;
}
.font-class-10 {
  color: var(--white);
  font-family: 'Roboto Mono', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.13px;
}
.font-class-2 {
  font-family: 'Roboto Mono', Helvetica, Arial, serif;
  font-style: normal;
  font-weight: 400;
}
.font-class-3 {
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 1.25px;
  line-height: 16px;
}
.font-class-4 {
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 1.07px;
}
.font-class-5 {
  color: var(--white);
  font-family: 'Roboto Mono', Helvetica, Arial, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.24px;
}
.font-class-6 {
  color: var(--white);
  font-family: 'Roboto Mono', Helvetica, Arial, serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.26px;
}
.font-class-7 {
  color: var(--white);
  font-family: 'Roboto Mono', Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.28px;
  line-height: 40px;
}
.font-class-8 {
  color: var(--white);
  font-family: 'Roboto Mono', Helvetica, Arial, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.16px;
}
.font-class-9 {
  color: var(--suva-gray);
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-size: 9px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.80px;
}
:root {
  --gray: rgba(127,127,127,1.0);
  --lavender: rgba(187,134,252,1.0);
  --licorice: rgba(18,18,18,1.0);
  --ship-gray: rgba(63,63,63,1.0);
  --suva-gray: rgba(136,136,136,1.0);
  --white: rgba(255,255,255,1.0);
  --white-2: rgba(255,255,255,0.38);
  --white-3: rgba(255,255,255,0.122);
  --white-4: rgba(255,255,255,0.102);
  --wisteria: rgba(202,162,252,1.0);
}
/* screen - contact-us-2 */

.border-class-1 {
  border: 1px solid rgba(242,231,254,1.0);
}
.contact-us-2 {
  background-color: var(--licorice);
  height: 925px;
  position: relative;
  width: 414px;
}
.contact-us-2 .cityscan-2020-C61RwL {
  background-color: transparent;
  height: 65px;
  left: 54px;
  position: absolute;
  top: 834px;
  width: 298px;
}
.contact-us-2 .cityscan-2020-VMr6Om {
  background-color: transparent;
  height: 64px;
  left: 54px;
  position: absolute;
  top: 834px;
  width: 291px;
}
.contact-us-2 .cityscan-CWcvtF {
  background-color: transparent;
  height: 91px;
  left: -10px;
  position: absolute;
  top: -7px;
  width: 270px;
}
.contact-us-2 .cityscan-RrQxtm {
  background-color: transparent;
  height: 91px;
  left: -8px;
  position: absolute;
  top: -7px;
  width: 268px;
}
.contact-us-2 .dark-theme-ader-label-WY7yIV {
  background-color: var(--white-2);
  height: 1px;
  left: 33px;
  position: absolute;
  top: 94px;
  width: 305px;
}
.contact-us-2 .dark-theme-ader-label-rKkfBc {
  background-color: transparent;
  height: 70px;
  left: 32px;
  position: absolute;
  top: 25px;
  width: 305px;
}
.contact-us-2 .divider-IruFPl {
  background-color: var(--white-2);
  height: 1px;
  left: 0px;
  opacity: 0.6;
  position: absolute;
  top: 69px;
  width: 305px;
}
.contact-us-2 .group-154-C61RwL {
  background-color: transparent;
  height: 71px;
  left: 12px;
  position: absolute;
  top: 24px;
  width: 250px;
}
.contact-us-2 .group-172-C61RwL {
  background-color: transparent;
  height: 641px;
  left: 23px;
  position: absolute;
  top: 141px;
  width: 369px;
}
.contact-us-2 .group-2-BVzMxL {
  background-color: transparent;
  height: 641px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 369px;
}
.contact-us-2 .iconnaviga-onmenu24px-C61RwL {
  background-color: transparent;
  height: 30px;
  left: 319px;
  position: absolute;
  top: 41px;
  width: 46px;
}
.contact-us-2 .label-left-IruFPl {
  background-color: transparent;
  color: var(--white);
  font-family: 'Roboto Mono', Helvetica, Arial, serif;
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  letter-spacing: -0.22px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 10px;
  white-space: nowrap;
  width: auto;
}
.contact-us-2 .path-6bsBdN {
  background-color: transparent;
  height: 6px;
  left: -0px;
  position: absolute;
  top: -0px;
  width: 47px;
}
.contact-us-2 .path-OeDIsT {
  background-color: transparent;
  height: 6px;
  left: -0px;
  position: absolute;
  top: 25px;
  width: 47px;
}
.contact-us-2 .path-RGoxKH {
  background-color: transparent;
  height: 6px;
  left: -0px;
  position: absolute;
  top: 12px;
  width: 47px;
}
.contact-us-2 .rectangle-1-C61RwL {
  background-color: transparent;
  height: 129px;
  left: -9px;
  position: absolute;
  top: -6px;
  width: 432px;
}
.contact-us-2 .rectangle-67-C61RwL {
  background-color: transparent;
  height: 118px;
  left: -9px;
  position: absolute;
  top: 802px;
  width: 432px;
}
.contact-us-2 .states-dar-ce-content-rKkfBc {
  background-color: var(--white-3);
  border-radius: 4px;
  height: 641px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 369px;
}
.contact-us-2 .x-color-d0ekLC {
  background-color: transparent;
  height: 31px;
  left: -0px;
  position: absolute;
  top: -0px;
  width: 47px;
}
.font-class-1 {
  color: var(--white);
  font-family: 'Roboto Mono', Helvetica, Arial, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.40px;
  line-height: 40px;
}
.font-class-10 {
  color: var(--white);
  font-family: 'Roboto Mono', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.13px;
}
.font-class-2 {
  font-family: 'Roboto Mono', Helvetica, Arial, serif;
  font-style: normal;
  font-weight: 400;
}
.font-class-3 {
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 1.25px;
  line-height: 16px;
}
.font-class-4 {
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 1.07px;
}
.font-class-5 {
  color: var(--white);
  font-family: 'Roboto Mono', Helvetica, Arial, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.24px;
}
.font-class-6 {
  color: var(--white);
  font-family: 'Roboto Mono', Helvetica, Arial, serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.26px;
}
.font-class-7 {
  color: var(--white);
  font-family: 'Roboto Mono', Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.28px;
  line-height: 40px;
}
.font-class-8 {
  color: var(--white);
  font-family: 'Roboto Mono', Helvetica, Arial, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.16px;
}
.font-class-9 {
  color: var(--suva-gray);
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-size: 9px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.80px;
}
:root {
  --gray: rgba(127,127,127,1.0);
  --lavender: rgba(187,134,252,1.0);
  --licorice: rgba(18,18,18,1.0);
  --ship-gray: rgba(63,63,63,1.0);
  --suva-gray: rgba(136,136,136,1.0);
  --white: rgba(255,255,255,1.0);
  --white-2: rgba(255,255,255,0.38);
  --white-3: rgba(255,255,255,0.122);
  --white-4: rgba(255,255,255,0.102);
  --wisteria: rgba(202,162,252,1.0);
}
/* screen - contact-us-tablet */

.border-class-1 {
  border: 1px solid rgba(242,231,254,1.0);
}
.contact-us-tablet {
  background-color: var(--licorice);
  height: 1073px;
  position: relative;
  width: 1279px;
}
.contact-us-tablet .cityscan-2020-C61RwL {
  background-color: transparent;
  height: 91px;
  left: 63px;
  position: absolute;
  top: 971px;
  width: 515px;
}
.contact-us-tablet .cityscan-2020-VMr6Om {
  background-color: transparent;
  height: 91px;
  left: 61px;
  position: absolute;
  top: 971px;
  width: 515px;
}
.contact-us-tablet .cityscan-C61RwL {
  background-color: transparent;
  height: 91px;
  left: 66px;
  position: absolute;
  top: 16px;
  width: 515px;
}
.contact-us-tablet .cityscan-VMr6Om {
  background-color: transparent;
  height: 91px;
  left: 64px;
  position: absolute;
  top: 16px;
  width: 270px;
}
.contact-us-tablet .container-JvHRlp {
  background-color: var(--ship-gray);
  border-radius: 4px;
  height: 39px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 185px;
}
.contact-us-tablet .container-M34txU {
  background-color: var(--wisteria);
  border-radius: 4px;
  height: 39px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 127px;
}
.contact-us-tablet .container-bqLsCL {
  background-color: var(--ship-gray);
  border-radius: 4px;
  height: 39px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 74px;
}
.contact-us-tablet .container-oAHA1P {
  background-color: var(--ship-gray);
  border-radius: 4px;
  height: 39px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 107px;
}
.contact-us-tablet .dark-butto-y-6-states-C61RwL {
  background-color: transparent;
  height: 39px;
  left: 888px;
  position: absolute;
  top: 40px;
  width: 185px;
}
.contact-us-tablet .dark-butto-y-6-states-QxM5SU {
  background-color: transparent;
  height: 39px;
  left: 801px;
  position: absolute;
  top: 40px;
  width: 74px;
}
.contact-us-tablet .dark-butto-y-6-states-VMr6Om {
  background-color: transparent;
  height: 39px;
  left: 680px;
  position: absolute;
  top: 40px;
  width: 107px;
}
.contact-us-tablet .dark-butto-y-6-states-mzXdH9 {
  background-color: transparent;
  height: 39px;
  left: 1087px;
  position: absolute;
  top: 40px;
  width: 127px;
}
.contact-us-tablet .oval-59n62O {
  background-color: transparent;
  height: 52px;
  left: -0px;
  position: absolute;
  top: -6px;
  width: 48px;
}
.contact-us-tablet .oval-7kX7kP {
  background-color: transparent;
  height: 52px;
  left: -0px;
  position: absolute;
  top: -6px;
  width: 48px;
}
.contact-us-tablet .oval-EPswcS {
  background-color: transparent;
  height: 52px;
  left: -0px;
  position: absolute;
  top: -6px;
  width: 48px;
}
.contact-us-tablet .oval-vPkEXd {
  background-color: transparent;
  height: 52px;
  left: -0px;
  position: absolute;
  top: -7px;
  width: 48px;
}
.contact-us-tablet .pressed-GyEpv3 {
  background-color: transparent;
  height: 39px;
  left: 13px;
  position: absolute;
  top: 0px;
  width: 48px;
}
.contact-us-tablet .pressed-azSDlV {
  background-color: transparent;
  height: 39px;
  left: 40px;
  position: absolute;
  top: 0px;
  width: 48px;
}
.contact-us-tablet .pressed-bHsSdK {
  background-color: transparent;
  height: 39px;
  left: 30px;
  position: absolute;
  top: 0px;
  width: 48px;
}
.contact-us-tablet .pressed-y4vMFQ {
  background-color: transparent;
  height: 39px;
  left: 68px;
  position: absolute;
  top: 0px;
  width: 48px;
}
.contact-us-tablet .primary-KWgPu2 {
  background-color: var(--ship-gray);
  border-radius: 4px;
  height: 39px;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  width: 185px;
}
.contact-us-tablet .primary-SfkFMd {
  background-color: var(--wisteria);
  border-radius: 4px;
  height: 39px;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  width: 127px;
}
.contact-us-tablet .primary-Ytz1o3 {
  background-color: var(--ship-gray);
  border-radius: 4px;
  height: 39px;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  width: 107px;
}
.contact-us-tablet .primary-xGRjBs {
  background-color: var(--ship-gray);
  border-radius: 4px;
  height: 39px;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  width: 74px;
}
.contact-us-tablet .rectangle-1-C61RwL {
  background-color: transparent;
  height: 137px;
  left: -9px;
  position: absolute;
  top: -6px;
  width: 1297px;
}
.contact-us-tablet .rectangle-59n62O {
  background-color: var(--white-4);
  height: 39px;
  left: -13px;
  position: absolute;
  top: 0px;
  width: 75px;
}
.contact-us-tablet .rectangle-67-C61RwL {
  background-color: transparent;
  height: 137px;
  left: -9px;
  position: absolute;
  top: 940px;
  width: 1297px;
}
.contact-us-tablet .rectangle-78-C61RwL {
  background-color: transparent;
  border-radius: 4px;
  height: 722px;
  left: 84px;
  position: absolute;
  top: 179px;
  width: 1111px;
}
.contact-us-tablet .rectangle-7kX7kP {
  background-color: var(--white-4);
  height: 39px;
  left: -13px;
  position: absolute;
  top: 0px;
  width: 75px;
}
.contact-us-tablet .rectangle-EPswcS {
  background-color: var(--white-4);
  height: 39px;
  left: -13px;
  position: absolute;
  top: 0px;
  width: 75px;
}
.contact-us-tablet .rectangle-vPkEXd {
  background-color: var(--white-4);
  height: 39px;
  left: -13px;
  position: absolute;
  top: 0px;
  width: 75px;
}
.contact-us-tablet .states-BhcHqg {
  background-color: var(--wisteria);
  border-radius: 4px;
  height: 39px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 127px;
}
.contact-us-tablet .states-KWgPu2 {
  background-color: var(--ship-gray);
  border-radius: 4px;
  height: 39px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 185px;
}
.contact-us-tablet .states-Mfhn70 {
  background-color: var(--ship-gray);
  border-radius: 4px;
  height: 39px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 74px;
}
.contact-us-tablet .states-SfkFMd {
  background-color: var(--wisteria);
  border-radius: 4px;
  height: 39px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 127px;
}
.contact-us-tablet .states-Ytz1o3 {
  background-color: var(--ship-gray);
  border-radius: 4px;
  height: 39px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 107px;
}
.contact-us-tablet .states-dar-ry-content-GyEpv3 {
  background-color: var(--ship-gray);
  border-radius: 4px;
  height: 39px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 74px;
}
.contact-us-tablet .states-dar-ry-content-azSDlV {
  background-color: var(--wisteria);
  border-radius: 4px;
  height: 39px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 127px;
}
.contact-us-tablet .states-dar-ry-content-bHsSdK {
  background-color: var(--ship-gray);
  border-radius: 4px;
  height: 39px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 107px;
}
.contact-us-tablet .states-dar-ry-content-y4vMFQ {
  background-color: var(--ship-gray);
  border-radius: 4px;
  height: 39px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 185px;
}
.contact-us-tablet .states-xGRjBs {
  background-color: var(--ship-gray);
  border-radius: 4px;
  height: 39px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 74px;
}
.contact-us-tablet .states-xOki46 {
  background-color: var(--ship-gray);
  border-radius: 4px;
  height: 39px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 185px;
}
.contact-us-tablet .states-xxU2vv {
  background-color: var(--ship-gray);
  border-radius: 4px;
  height: 39px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 107px;
}
.contact-us-tablet .x-label-JvHRlp {
  background-color: transparent;
  color: var(--suva-gray);
  height: auto;
  left: 16px;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: auto;
}
.contact-us-tablet .x-label-M34txU {
  background-color: transparent;
  color: rgba(0,0,0,1.0);
  height: auto;
  left: 16px;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: auto;
}
.contact-us-tablet .x-label-bqLsCL {
  background-color: transparent;
  color: var(--suva-gray);
  height: auto;
  left: 16px;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: auto;
}
.contact-us-tablet .x-label-oAHA1P {
  background-color: transparent;
  color: var(--suva-gray);
  height: auto;
  left: 16px;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: auto;
}
.font-class-1 {
  color: var(--white);
  font-family: 'Roboto Mono', Helvetica, Arial, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.40px;
  line-height: 40px;
}
.font-class-10 {
  color: var(--white);
  font-family: 'Roboto Mono', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.13px;
}
.font-class-2 {
  font-family: 'Roboto Mono', Helvetica, Arial, serif;
  font-style: normal;
  font-weight: 400;
}
.font-class-3 {
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 1.25px;
  line-height: 16px;
}
.font-class-4 {
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 1.07px;
}
.font-class-5 {
  color: var(--white);
  font-family: 'Roboto Mono', Helvetica, Arial, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.24px;
}
.font-class-6 {
  color: var(--white);
  font-family: 'Roboto Mono', Helvetica, Arial, serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.26px;
}
.font-class-7 {
  color: var(--white);
  font-family: 'Roboto Mono', Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.28px;
  line-height: 40px;
}
.font-class-8 {
  color: var(--white);
  font-family: 'Roboto Mono', Helvetica, Arial, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.16px;
}
.font-class-9 {
  color: var(--suva-gray);
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-size: 9px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.80px;
}
:root {
  --gray: rgba(127,127,127,1.0);
  --lavender: rgba(187,134,252,1.0);
  --licorice: rgba(18,18,18,1.0);
  --ship-gray: rgba(63,63,63,1.0);
  --suva-gray: rgba(136,136,136,1.0);
  --white: rgba(255,255,255,1.0);
  --white-2: rgba(255,255,255,0.38);
  --white-3: rgba(255,255,255,0.122);
  --white-4: rgba(255,255,255,0.102);
  --wisteria: rgba(202,162,252,1.0);
}
/* screen - contact-us-tablet-1 */

.border-class-1 {
  border: 1px solid rgba(242,231,254,1.0);
}
.contact-us-tablet-1 {
  background-color: var(--licorice);
  height: 954px;
  position: relative;
  width: 1137px;
}
.contact-us-tablet-1 .cityscan-2020-C61RwL {
  background-color: transparent;
  height: 83px;
  left: 55px;
  position: absolute;
  top: 863px;
  width: 460px;
}
.contact-us-tablet-1 .cityscan-2020-VMr6Om {
  background-color: transparent;
  height: 83px;
  left: 53px;
  position: absolute;
  top: 863px;
  width: 460px;
}
.contact-us-tablet-1 .cityscan-C61RwL {
  background-color: transparent;
  height: 83px;
  left: 58px;
  position: absolute;
  top: 14px;
  width: 460px;
}
.contact-us-tablet-1 .cityscan-VMr6Om {
  background-color: transparent;
  height: 83px;
  left: 56px;
  position: absolute;
  top: 14px;
  width: 242px;
}
.contact-us-tablet-1 .container-JvHRlp {
  background-color: var(--ship-gray);
  border-radius: 4px;
  height: 34px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 165px;
}
.contact-us-tablet-1 .container-M34txU {
  background-color: var(--wisteria);
  border-radius: 4px;
  height: 34px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 113px;
}
.contact-us-tablet-1 .container-bqLsCL {
  background-color: var(--ship-gray);
  border-radius: 4px;
  height: 34px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 66px;
}
.contact-us-tablet-1 .container-oAHA1P {
  background-color: var(--ship-gray);
  border-radius: 4px;
  height: 34px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 95px;
}
.contact-us-tablet-1 .dark-butto-y-6-states-C61RwL {
  background-color: transparent;
  height: 34px;
  left: 789px;
  position: absolute;
  top: 36px;
  width: 165px;
}
.contact-us-tablet-1 .dark-butto-y-6-states-QxM5SU {
  background-color: transparent;
  height: 34px;
  left: 712px;
  position: absolute;
  top: 36px;
  width: 66px;
}
.contact-us-tablet-1 .dark-butto-y-6-states-VMr6Om {
  background-color: transparent;
  height: 34px;
  left: 605px;
  position: absolute;
  top: 36px;
  width: 95px;
}
.contact-us-tablet-1 .dark-butto-y-6-states-mzXdH9 {
  background-color: transparent;
  height: 34px;
  left: 966px;
  position: absolute;
  top: 36px;
  width: 113px;
}
.contact-us-tablet-1 .oval-59n62O {
  background-color: transparent;
  height: 46px;
  left: -0px;
  position: absolute;
  top: -6px;
  width: 43px;
}
.contact-us-tablet-1 .oval-7kX7kP {
  background-color: transparent;
  height: 46px;
  left: -0px;
  position: absolute;
  top: -6px;
  width: 43px;
}
.contact-us-tablet-1 .oval-EPswcS {
  background-color: transparent;
  height: 46px;
  left: -0px;
  position: absolute;
  top: -6px;
  width: 43px;
}
.contact-us-tablet-1 .oval-vPkEXd {
  background-color: transparent;
  height: 46px;
  left: -0px;
  position: absolute;
  top: -6px;
  width: 43px;
}
.contact-us-tablet-1 .pressed-GyEpv3 {
  background-color: transparent;
  height: 35px;
  left: 12px;
  position: absolute;
  top: -0px;
  width: 43px;
}
.contact-us-tablet-1 .pressed-azSDlV {
  background-color: transparent;
  height: 35px;
  left: 35px;
  position: absolute;
  top: -0px;
  width: 43px;
}
.contact-us-tablet-1 .pressed-bHsSdK {
  background-color: transparent;
  height: 35px;
  left: 26px;
  position: absolute;
  top: -0px;
  width: 43px;
}
.contact-us-tablet-1 .pressed-y4vMFQ {
  background-color: transparent;
  height: 35px;
  left: 61px;
  position: absolute;
  top: -0px;
  width: 43px;
}
.contact-us-tablet-1 .primary-KWgPu2 {
  background-color: var(--ship-gray);
  border-radius: 4px;
  height: 34px;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  width: 165px;
}
.contact-us-tablet-1 .primary-SfkFMd {
  background-color: var(--wisteria);
  border-radius: 4px;
  height: 34px;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  width: 113px;
}
.contact-us-tablet-1 .primary-Ytz1o3 {
  background-color: var(--ship-gray);
  border-radius: 4px;
  height: 34px;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  width: 95px;
}
.contact-us-tablet-1 .primary-xGRjBs {
  background-color: var(--ship-gray);
  border-radius: 4px;
  height: 34px;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  width: 66px;
}
.contact-us-tablet-1 .rectangle-1-C61RwL {
  background-color: transparent;
  height: 124px;
  left: -9px;
  position: absolute;
  top: -6px;
  width: 1155px;
}
.contact-us-tablet-1 .rectangle-59n62O {
  background-color: var(--white-4);
  height: 35px;
  left: -12px;
  position: absolute;
  top: 0px;
  width: 67px;
}
.contact-us-tablet-1 .rectangle-67-C61RwL {
  background-color: transparent;
  height: 124px;
  left: -9px;
  position: absolute;
  top: 834px;
  width: 1155px;
}
.contact-us-tablet-1 .rectangle-78-C61RwL {
  background-color: transparent;
  border-radius: 4px;
  height: 643px;
  left: 74px;
  position: absolute;
  top: 159px;
  width: 989px;
}
.contact-us-tablet-1 .rectangle-7kX7kP {
  background-color: var(--white-4);
  height: 35px;
  left: -12px;
  position: absolute;
  top: 0px;
  width: 67px;
}
.contact-us-tablet-1 .rectangle-EPswcS {
  background-color: var(--white-4);
  height: 35px;
  left: -12px;
  position: absolute;
  top: 0px;
  width: 67px;
}
.contact-us-tablet-1 .rectangle-vPkEXd {
  background-color: var(--white-4);
  height: 35px;
  left: -12px;
  position: absolute;
  top: 0px;
  width: 67px;
}
.contact-us-tablet-1 .states-BhcHqg {
  background-color: var(--wisteria);
  border-radius: 4px;
  height: 34px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 113px;
}
.contact-us-tablet-1 .states-KWgPu2 {
  background-color: var(--ship-gray);
  border-radius: 4px;
  height: 34px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 165px;
}
.contact-us-tablet-1 .states-Mfhn70 {
  background-color: var(--ship-gray);
  border-radius: 4px;
  height: 34px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 66px;
}
.contact-us-tablet-1 .states-SfkFMd {
  background-color: var(--wisteria);
  border-radius: 4px;
  height: 34px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 113px;
}
.contact-us-tablet-1 .states-Ytz1o3 {
  background-color: var(--ship-gray);
  border-radius: 4px;
  height: 34px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 95px;
}
.contact-us-tablet-1 .states-dar-ry-content-GyEpv3 {
  background-color: var(--ship-gray);
  border-radius: 4px;
  height: 34px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 66px;
}
.contact-us-tablet-1 .states-dar-ry-content-azSDlV {
  background-color: var(--wisteria);
  border-radius: 4px;
  height: 34px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 113px;
}
.contact-us-tablet-1 .states-dar-ry-content-bHsSdK {
  background-color: var(--ship-gray);
  border-radius: 4px;
  height: 34px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 95px;
}
.contact-us-tablet-1 .states-dar-ry-content-y4vMFQ {
  background-color: var(--ship-gray);
  border-radius: 4px;
  height: 34px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 165px;
}
.contact-us-tablet-1 .states-xGRjBs {
  background-color: var(--ship-gray);
  border-radius: 4px;
  height: 34px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 66px;
}
.contact-us-tablet-1 .states-xOki46 {
  background-color: var(--ship-gray);
  border-radius: 4px;
  height: 34px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 165px;
}
.contact-us-tablet-1 .states-xxU2vv {
  background-color: var(--ship-gray);
  border-radius: 4px;
  height: 34px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 95px;
}
.contact-us-tablet-1 .x-label-JvHRlp {
  background-color: transparent;
  color: var(--suva-gray);
  height: auto;
  left: 17px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 10px;
  white-space: nowrap;
  width: auto;
}
.contact-us-tablet-1 .x-label-M34txU {
  background-color: transparent;
  color: rgba(0,0,0,1.0);
  height: auto;
  left: 16px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 10px;
  white-space: nowrap;
  width: auto;
}
.contact-us-tablet-1 .x-label-bqLsCL {
  background-color: transparent;
  color: var(--suva-gray);
  height: auto;
  left: 15px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 10px;
  white-space: nowrap;
  width: auto;
}
.contact-us-tablet-1 .x-label-oAHA1P {
  background-color: transparent;
  color: var(--suva-gray);
  height: auto;
  left: 16px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 10px;
  white-space: nowrap;
  width: auto;
}
.font-class-1 {
  color: var(--white);
  font-family: 'Roboto Mono', Helvetica, Arial, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.40px;
  line-height: 40px;
}
.font-class-10 {
  color: var(--white);
  font-family: 'Roboto Mono', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.13px;
}
.font-class-2 {
  font-family: 'Roboto Mono', Helvetica, Arial, serif;
  font-style: normal;
  font-weight: 400;
}
.font-class-3 {
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 1.25px;
  line-height: 16px;
}
.font-class-4 {
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 1.07px;
}
.font-class-5 {
  color: var(--white);
  font-family: 'Roboto Mono', Helvetica, Arial, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.24px;
}
.font-class-6 {
  color: var(--white);
  font-family: 'Roboto Mono', Helvetica, Arial, serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.26px;
}
.font-class-7 {
  color: var(--white);
  font-family: 'Roboto Mono', Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.28px;
  line-height: 40px;
}
.font-class-8 {
  color: var(--white);
  font-family: 'Roboto Mono', Helvetica, Arial, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.16px;
}
.font-class-9 {
  color: var(--suva-gray);
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-size: 9px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.80px;
}
:root {
  --gray: rgba(127,127,127,1.0);
  --lavender: rgba(187,134,252,1.0);
  --licorice: rgba(18,18,18,1.0);
  --ship-gray: rgba(63,63,63,1.0);
  --suva-gray: rgba(136,136,136,1.0);
  --white: rgba(255,255,255,1.0);
  --white-2: rgba(255,255,255,0.38);
  --white-3: rgba(255,255,255,0.122);
  --white-4: rgba(255,255,255,0.102);
  --wisteria: rgba(202,162,252,1.0);
}
/* screen - contact-us2 */

.border-class-1 {
  border: 1px solid rgba(242,231,254,1.0);
}
.contact-us2 {
  background-color: var(--licorice);
  height: 1222px;
  position: relative;
  width: 556px;
}
.contact-us2 .cityscan-2020-C61RwL {
  background-color: transparent;
  height: 91px;
  left: 53px;
  position: absolute;
  top: 1120px;
  width: 513px;
}
.contact-us2 .cityscan-2020-VMr6Om {
  background-color: transparent;
  height: 91px;
  left: 54px;
  position: absolute;
  top: 1120px;
  width: 449px;
}
.contact-us2 .cityscan-CWcvtF {
  background-color: transparent;
  height: 91px;
  left: -10px;
  position: absolute;
  top: -7px;
  width: 270px;
}
.contact-us2 .cityscan-RrQxtm {
  background-color: transparent;
  height: 91px;
  left: -8px;
  position: absolute;
  top: -7px;
  width: 268px;
}
.contact-us2 .dark-theme-ader-label-sdxwGy {
  background-color: var(--white-2);
  height: 1px;
  left: 44px;
  position: absolute;
  top: 128px;
  width: 414px;
}
.contact-us2 .dark-theme-ader-label-zUixHA {
  background-color: transparent;
  height: 95px;
  left: 43px;
  position: absolute;
  top: 34px;
  width: 414px;
}
.contact-us2 .divider-Xe9G7S {
  background-color: var(--white-2);
  height: 1px;
  left: 0px;
  opacity: 0.6;
  position: absolute;
  top: 94px;
  width: 414px;
}
.contact-us2 .group-154-C61RwL {
  background-color: transparent;
  height: 71px;
  left: 61px;
  position: absolute;
  top: 23px;
  width: 250px;
}
.contact-us2 .group-2-C61RwL {
  background-color: transparent;
  height: 872px;
  left: 28px;
  position: absolute;
  top: 184px;
  width: 501px;
}
.contact-us2 .iconnaviga-onmenu24px-C61RwL {
  background-color: transparent;
  height: 30px;
  left: 467px;
  position: absolute;
  top: 45px;
  width: 46px;
}
.contact-us2 .label-left-Xe9G7S {
  background-color: transparent;
  color: var(--white);
  font-family: 'Roboto Mono', Helvetica, Arial, serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  letter-spacing: -0.32px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 16px;
  white-space: nowrap;
  width: auto;
}
.contact-us2 .path-6bsBdN {
  background-color: transparent;
  height: 6px;
  left: -0px;
  position: absolute;
  top: -0px;
  width: 46px;
}
.contact-us2 .path-OeDIsT {
  background-color: transparent;
  height: 6px;
  left: -0px;
  position: absolute;
  top: 25px;
  width: 46px;
}
.contact-us2 .path-RGoxKH {
  background-color: transparent;
  height: 6px;
  left: -0px;
  position: absolute;
  top: 12px;
  width: 46px;
}
.contact-us2 .rectangle-1-C61RwL {
  background-color: transparent;
  height: 137px;
  left: -9px;
  position: absolute;
  top: -6px;
  width: 574px;
}
.contact-us2 .rectangle-67-C61RwL {
  background-color: transparent;
  height: 137px;
  left: -9px;
  position: absolute;
  top: 1089px;
  width: 574px;
}
.contact-us2 .states-dar-ce-content-zUixHA {
  background-color: var(--white-3);
  border-radius: 4px;
  height: 872px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 501px;
}
.contact-us2 .x-color-d0ekLC {
  background-color: transparent;
  height: 30px;
  left: -0px;
  position: absolute;
  top: -0px;
  width: 46px;
}
.font-class-1 {
  color: var(--white);
  font-family: 'Roboto Mono', Helvetica, Arial, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.40px;
  line-height: 40px;
}
.font-class-10 {
  color: var(--white);
  font-family: 'Roboto Mono', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.13px;
}
.font-class-2 {
  font-family: 'Roboto Mono', Helvetica, Arial, serif;
  font-style: normal;
  font-weight: 400;
}
.font-class-3 {
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 1.25px;
  line-height: 16px;
}
.font-class-4 {
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 1.07px;
}
.font-class-5 {
  color: var(--white);
  font-family: 'Roboto Mono', Helvetica, Arial, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.24px;
}
.font-class-6 {
  color: var(--white);
  font-family: 'Roboto Mono', Helvetica, Arial, serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.26px;
}
.font-class-7 {
  color: var(--white);
  font-family: 'Roboto Mono', Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.28px;
  line-height: 40px;
}
.font-class-8 {
  color: var(--white);
  font-family: 'Roboto Mono', Helvetica, Arial, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.16px;
}
.font-class-9 {
  color: var(--suva-gray);
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-size: 9px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.80px;
}
:root {
  --gray: rgba(127,127,127,1.0);
  --lavender: rgba(187,134,252,1.0);
  --licorice: rgba(18,18,18,1.0);
  --ship-gray: rgba(63,63,63,1.0);
  --suva-gray: rgba(136,136,136,1.0);
  --white: rgba(255,255,255,1.0);
  --white-2: rgba(255,255,255,0.38);
  --white-3: rgba(255,255,255,0.122);
  --white-4: rgba(255,255,255,0.102);
  --wisteria: rgba(202,162,252,1.0);
}