$black: #121212;
$lighter-black: #2F2F2F;
$button-pink: #CAA2FC;
$button-grey: #3F3F3F;
$grey-text : #888888;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&display=swap');

body {
    background-color: $black;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    color: white;

}

h1 {
    color: white;
    font-size: 36;
    font-weight: 400;

}

li, a, p {
    color: white;
    font-weight: 400;
    text-decoration: none;
}

/* overlay */

header {
    padding: 1.2vw 0;
    background: $lighter-black;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        width: 100%;
        height: 2.8vw;
        cursor: pointer;
    }
    .menu-btn {
        padding-right: 4.7vw;
        height: 2vw;
        cursor: pointer;
    }
}



nav {
    position: fixed;
    background: $black;
    padding: 2em;
    width: calc(100% - 4em);
    height: calc(100vh - 4em);
    overflow: hidden;
    display: none;
    transform: scaleX(0);
    transform-origin: right;

    .close-btn {
        width: 18px;
        float: right;
        cursor: pointer;
        opacity: 0;
    }

    ul {
        list-style-type: none;
        margin: 10% auto 0 auto;
        padding: 0;
        width: 80%;

        .lis {
            opacity: 0;

            a {
                display: block;
                padding-top: 16vh;
                color: white;
                font-weight: bold;
                font-size: 1.5em;
            }
        }
        
    }

}

.show-menu {
    display: block;
    animation: slide-menu 1s ease-in-out forwards;

    .close-btn {
        animation: show-x 1s 1s forwards;
    }

    .lis {
        animation: show-x 1s 1s forwards;
    }
}


@keyframes slide-menu {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}

@keyframes show-x {
    from {
    }
    to {
        opacity: 1;
    }
}


/* overlay */

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 145vw;
    margin: 2vw;
    background-color: $lighter-black;
}


section {
    border: solid 2.5vw $black;
    display: flex;
    justify-content: center;
    align-items: center;

}

img.full {
    width: 100%;
}
img.special {
    width: 92%;
}

.text {
    display: block;
    padding: 0vw 3vw;
    h1 {
        border-bottom: 1px solid $grey-text;
        padding-bottom: 4px;
        font-size: 2.7vw;
    }
    p {
        font-size: 1.2vw;
        letter-spacing: .1vw;
        line-height: 2.5vw;
        padding-top: 1.2vw;
    }
}

@media (max-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr;
        height: 550vw;
        margin: 6vw;
        grid-template-rows: repeat(6, 1fr);
    }
    section {
        border: solid 4vw $black;
    }

    .text {
        padding: 0vw 5vw;
        h1 {
            font-size: 4.5vw;
        }
        p {
            font-size: 2.6vw;
            padding-top: 4.5vw;
            line-height: 6vw;
        }
    }
}

button {
    background-color: $button-grey;
    border: none;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    color: $grey-text;
    padding: 0.4vw .8vw;
    border-radius: .3vw;
    font-family: 'Roboto Mono';
    

    &:hover {
        transition: 0.7s;
        background-color: $button-pink;
        color: $black;
    }
}



footer {
    background: $lighter-black;
    padding: 0px 5%;
    display: flex;
    h1 {
        -webkit-text-stroke: .8px black;

    }
}