@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&display=swap");
body {
  background-color: #121212;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
  color: white;
}

h1 {
  color: white;
  font-size: 36px;
  font-weight: 400;
}

li, a, p {
  color: white;
  font-weight: 400;
  text-decoration: none;
}

/* overlay */
header {
  padding: 1.2vw 0;
  background: #2F2F2F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo {
  padding-left: 5vw;
  height: 4.5vw;
  min-height: 30px;
  padding-top: 0;
  padding-bottom: 0;
  cursor: pointer;
}

header .menu-btn {
  padding-right: 4.4vw;
  height: 1.5em;
  cursor: pointer;
}

nav {
  position: fixed;
  background: #121212;
  padding: 2em;
  width: calc(100% - 4em);
  height: calc(100vh - 4em);
  overflow: hidden;
  display: none;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
}

nav .close-btn {
  width: 18px;
  float: right;
  cursor: pointer;
  opacity: 0;
}

nav ul {
  list-style-type: none;
  margin: 10% auto 0 auto;
  padding: 0;
  width: 80%;
}

nav ul .lis {
  opacity: 0;
}

nav ul .lis a {
  display: block;
  padding-top: 4vh;
  padding-bottom: 4vh;
  color: white;
  font-weight: bold;
  font-size: 2.5em;
}

.show-menu {
  display: block;
  -webkit-animation: slide-menu 1s ease-in-out forwards;
          animation: slide-menu 1s ease-in-out forwards;
}

.show-menu .close-btn {
  -webkit-animation: show-x 1s 1s forwards;
          animation: show-x 1s 1s forwards;
}

.show-menu .lis {
  -webkit-animation: show-x 1s 1s forwards;
          animation: show-x 1s 1s forwards;
}

@-webkit-keyframes slide-menu {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes slide-menu {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@-webkit-keyframes show-x {
  from {
  }
  to {
    opacity: 1;
  }
}

@keyframes show-x {
  from {
  }
  to {
    opacity: 1;
  }
}

/* overlay */
.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  height: 145vw;
  margin: 2vw;
  background-color: #2F2F2F;
}

section {
  border: solid 2.5vw #121212;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

img.full {
  width: 100%;
}

img.special {
  width: 92%;
}

.text {
  display: block;
  padding: 0vw 3vw;
}

.text h1 {
  border-bottom: 1px solid #888888;
  padding-bottom: 4px;
  font-size: 2.7vw;
}

.text p {
  font-size: 1.2vw;
  letter-spacing: .1vw;
  line-height: 2.5vw;
  padding-top: 1.2vw;
  padding-bottom: 0;
}

button {
  background-color: #3F3F3F;
  border: none;
  font-size: 1vw;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  color: #888888;
  padding: 0.4vw .8vw;
  border-radius: .3vw;
  font-family: 'Roboto Mono';
  margin-bottom: 2vw;
}

button:hover {
  -webkit-transition: 0.7s;
  transition: 0.7s;
  background-color: #CAA2FC;
  color: #121212;
}

.VideoOne {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80%;
}

.VideoOne video {
  width: 100%;
}

.VideoOne img {
  height: 2vh;
  min-height: 30px;
  width: 100%;
  -webkit-transform: translate(47.5%, 0%);
          transform: translate(47.5%, 0%);
  cursor: pointer;
}

.VideoTwo {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80%;
}

.VideoTwo video {
  width: 100%;
}

.VideoTwo img {
  height: 2vh;
  min-height: 30px;
  width: 100%;
  -webkit-transform: translate(47.5%, 0%);
          transform: translate(47.5%, 0%);
  cursor: pointer;
}

.VideoThree {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80%;
}

.VideoThree video {
  width: 100%;
}

.VideoThree img {
  height: 2vh;
  min-height: 30px;
  width: 100%;
  -webkit-transform: translate(47.5%, 0%);
          transform: translate(47.5%, 0%);
  cursor: pointer;
}

@media (max-width: 600px) {
  .grid-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    height: 550vw;
    margin: 5vw;
    -ms-grid-rows: (1fr)[6];
        grid-template-rows: repeat(6, 1fr);
  }
  section {
    border: solid 4vw #121212;
  }
  .text {
    padding: 0vw 5vw;
  }
  .text h1 {
    font-size: 4.5vw;
  }
  .text p {
    font-size: 2.6vw;
    padding-top: 4.5vw;
    line-height: 6vw;
  }
  button {
    padding: 0.8vw 1.6vw;
    border-radius: .3vw;
    font-size: 2.3vw;
    margin-bottom: 5vw;
  }
}

footer {
  background: #2F2F2F;
  padding: 0px 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer h1 {
  -webkit-text-stroke: .8px black;
}

.VideoOneD {
  display: block;
}

.VideoTwoD {
  display: block;
}

.VideoThreeD {
  display: block;
}

/* form */
#fcf-form {
  display: block;
}

.fcf-body {
  margin: 8vh 8vw 18vh;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: white;
  text-align: left;
  background-color: #2F2F2F;
  padding: 25px;
  padding-top: 5px;
  padding-bottom: 10px;
  max-width: 100%;
}

.fcf-form-group {
  margin-bottom: 1rem;
}

.fcf-input-group {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100%;
}

.fcf-form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  border: none;
  background-color: #3F3F3F;
  outline: none;
}

select.fcf-form-control[size] {
  height: auto;
}

select.fcf-form-control[multiple] {
  height: auto;
}

textarea.fcf-form-control {
  font-size: 1.5em;
  height: auto;
}

label.fcf-label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.fcf-btn-primary {
  color: #fff;
  background-color: #3F3F3F;
}

.fcf-btn-primary:hover {
  color: #121212;
  background-color: #CAA2FC;
}

.fcf-btn-primary:focus {
  color: #fff;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(180, 88, 255, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(180, 88, 255, 0.5);
}

.fcf-btn-lg {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

.fcf-btn-block {
  display: block;
  width: 100%;
}

.fcf-btn-block + .fcf-btn-block {
  margin-top: 0.5rem;
}

input[type="submit"].fcf-btn-block {
  width: 100%;
}

input[type="reset"].fcf-btn-block {
  width: 100%;
}

input[type="button"].fcf-btn-block {
  width: 100%;
}

.frm {
  display: none;
}
/*# sourceMappingURL=main.css.map */