$black: #121212;
$lighter-black: #2F2F2F;
$button-pink: #CAA2FC;
$button-grey: #3F3F3F;
$grey-text : #888888;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&display=swap');

body {
    background-color: $black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
    color: white;

}

h1 {
    color: white;
    font-size: 36;
    font-weight: 400;

}

li, a, p {
    color: white;
    font-size: 20;
    font-weight: 400;
    text-decoration: none;
}

header {
    background: $lighter-black;
    padding: 15px 5%;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 40px;
}
.nav-links {
    list-style: none;

    li {
        display: inline;
        padding: 10px 10px;
        
        a {
            display: inline-block;
            transition: all 0.3s ease 0s;
            &:hover {
            color: $grey-text;
            }
            &.active {
                color: $button-pink;
                transition: all 0.3s ease 0s;
            }
        }
    }
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 145vw;
    margin: 6vw;
    background-color: $lighter-black;

}

@media (max-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr
    }

}
